body {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

ul li {
    list-style-type:none;
}

a {
    color: black;
}

.listapessoas {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.listapessoas p {
    border-bottom: 1px solid #ccc;
}

.calendario {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.dias-extenso, .dias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.dias li {
    padding: 2rem;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 200ms;
}

.dias li:hover {
    background-color: bisque;
    transform: scale3d(1.2, 1.2, 1.2);
}

.dias .nao-mostra {
    opacity: 0;
    user-select: none;
    cursor: default;
}
