:root {
    --hover-color: rgba(0,0,0,.1);
    --dark-gray-60: rgb(60,60,60);

}

body {
    background-color: rgba(0, 0, 0, .5);
    color: white;
}

.content__wrapper {
    display: grid;
    grid-template-columns: minmax(180px, 250px) 2fr;
}

.content__wrapper .navigation {
    display: flex;
    flex-direction: column;
    border-right: 1px solid var(--hover-color);
}

.content__wrapper .navigation ul {
    padding-left: 0px;
}

.content__wrapper .navigation ul li:hover {
    background-color: var(--hover-color);
}


ul li {
    list-style-type:none;
}

a, a:hover {
    color: black;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.user__list .user-grid-template {
    display: grid;
    grid-template-columns: minmax(20px, 40px) minmax(80px,1fr) minmax(250px,3fr) 1fr 1fr;
    padding: .3rem 1rem;
    margin-bottom: 0px;
}

.user__list .heading {
    background-color: var(--dark-gray-60);
    margin-bottom: 0px;
}

.user__list ul {
    border: 1px solid var(--dark-gray-60);
}

.user__list ul:not(.heading):hover {
    background-color: var(--hover-color);
}

.user__list .actions {
    display: inline-flex;
    gap: .5rem;
}







.list__user {
    display: flex;
    flex-direction: column;
    padding-left: 0px;
    margin-bottom: 2rem;
}

.list__user:hover {
    background-color: var(--hover-color);
}

.list__user .heading {
    font-size: 1.5rem;
    color: white;
    background-color: #666;
}

.list__user .actions > a {
    padding: 0px 1rem;
}


.list__user li {
    display: inline-flex;
    padding: .1rem .4rem;
}


.list__user p {
    border-bottom: 1px solid #ccc;
}

.list__events {
    padding-left: 0px;
    display: grid;
    grid-template-columns: 3fr 1fr;
}

.list__events li {
    border: 1px solid var(--hover-color);
    padding: .5rem 2rem;
}


.calendario {
    display: flex;
    flex-direction: column;
    max-width: 800px;
}

.dias-extenso, .dias {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}

.dias li {
    padding: 2rem;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 200ms;
}

.dias li:hover {
    background-color: var(--dark-gray-60);
    transform: scale3d(1.2, 1.2, 1.2);
}

.dias .nao-mostra {
    opacity: 0;
    user-select: none;
    cursor: default;
}
