{% extends "template.html" %}

<p>List single user:</p>

{% block content %}
<body>
    <div class="container">
        <ul class="list__user">
                <li>ID: {{ user.id }} </li>
                <li>Login: {{ user.user_name }}</li>
                <li>Name: {{ user.name }}</li>
                <li>Admin: {{ user.admin }}</li>
        </ul>

        <h3>Events:</h3>
        <ul class="list__events">
        {% for event in user.events %}
            <li>
                <h5>{{ event.title }}</h5>
                <p>Date: {{ event.data_event }} </p>
                <p> {{ event.description }} </p>
            </li>
            <li>
                <p>delete</p>
                <p>edit</p>
            </li>
        {% endfor %}
        </ul>



    </div>
</body>
{% endblock content %}
